header {
    background-color: rgb(194, 108, 144);
    height: 120px;
    padding: 5px;
    border-radius: 6px;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 50px;
    color: White;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer div {
    align-items: center;
    background-color: rgb(194, 108, 144);
    height: 60px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    border-radius: 6px;
    color: White;
    font-size: 
}

.main-page {
    background-color: white;
    margin-top: 50px;
}

img{
    float: right;

}