header {
    background-color: rgb(0, 162, 255);
}

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    align-items: center;
    background-color: rgb(0, 162, 255);
}

.main-page {
    background-color: white;
}